.about-section {
  position: relative;
  padding: 5em 0px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 40px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-top: 50px;
  padding-right: 100px;
}

.about-section .content-column .text {
  position: relative;
  color: #000000;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 40px;
}

.about-section .content-column .email {
  position: relative;
  color: #252525;
  font-weight: 700;
  margin-bottom: 50px;
}

.about-section .image-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .image-column .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
  margin-left: 50px;
}

.about-section .image-column .inner-column:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 100px;
  z-index: 0;
  border: 2px solid #d7a449;
}

.about-section .image-column .inner-column .image {
  position: relative;
  z-index: 1;
}

.about-section .image-column .inner-column .image:before {
  position: absolute;
  content: "";
  left: -50px;
  bottom: -50px;
  width: 299px;
  height: 299px;
  background: url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img {
  position: relative;
  width: 100%;
  display: block;
}

.about-section .image-column .inner-column .image .overlay-box {
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.about-section .btn-style-three:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  z-index: -1;
  right: -10px;
  bottom: -10px;
  background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
  color: #ffffff;
  background: #d7a449;
}
.about-section .btn-style-three {
  position: relative;
  line-height: 24px;
  color: #252525;
  font-size: 15px;
  font-weight: 700;
  background: none;
  display: inline-block;
  padding: 11px 40px;
  background-color: #ffffff;
  text-transform: capitalize;
  border: 2px solid #d7a449;
  font-family: "Arimo", sans-serif;
}
.sec-title2 {
  color: #fff;
}
.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  position: relative;
  color: #d7a449;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbbbbb;
}

@media (width < 1080px) {
  .about-section .content-column .inner-column {
    position: relative;
    padding-top: 10px;
    margin-left: 3vw;
  }

  .about-section .image-column .inner-column:after {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    left: 40px;
    bottom: 100px;
    padding-bottom: 300px;
    z-index: 0;
    border: 2px solid #d7a449;
  }
}

@media (width < 768px) {
  .about-section {
    position: relative;
    padding: 2em 0px;
  }

  .about-section .image-column .inner-column::after {
    position: absolute;
    margin-left: 10vw;
    content: "";
    width: 75%;
    height: 120%;
    z-index: 0;
    border: 2px solid rgb(215, 164, 73);
    padding-bottom: 30em;
    opacity: 0.4;
  }

  .image > img {
    opacity: 0.4;
    margin-left: 4vw;
    height: 550px;
  }

  .about-section {
    position: relative;
  }

  .about-section .image-column {
    position: absolute;
    z-index: -1;
    right: 0.1em;
  }
  .about-section .image-column .inner-column .image {
    position: absolute;
    right: 5em;
  }

  .about-section .image-column .inner-column .image .overlay-box {
    position: absolute;
    margin-left: 20vw;
  }
}
