@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background-color: var(--primaryColor);
}

.sub-title {
  color: var(--quertiaryColor);
}

.text::first-letter {
  initial-letter: 2;
  margin-right: 0.3em;
  color: var(--quertiaryColor);
}

.about-section {
  position: relative;
  padding: 5em 0px;
  font-family: "Ubuntu", sans-serif;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 40px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-top: 50px;
}

.about-section .content-column .text {
  position: relative;
  color: var(--fontColor);
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
  margin-bottom: 40px;
}

.about-section .content-column .email {
  position: relative;
  color: var(--quertiaryColor);
  font-weight: 700;
  margin-bottom: 50px;
}

.about-section .image-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .image-column .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
  margin-left: 50px;
}

.about-section .image-column .inner-column:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 80px;
  z-index: 0;
  border: 2px solid var(--quertiaryColor);
}

.about-section .image-column .inner-column .image {
  position: relative;
  z-index: 1;
}

.about-section .image-column .inner-column .image:before {
  position: absolute;
  content: "";
  left: -50px;
  bottom: -50px;
  width: 299px;
  height: 299px;
  background: url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img {
  position: relative;
  width: 100%;
  display: block;
}

.about-section .image-column .inner-column .image .overlay-box {
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.about-section .btn-style-three:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  z-index: -1;
  right: -10px;
  bottom: -10px;
  background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
  color: var(--primaryColor);
  background: var(--quertiaryColor);
}
.about-section .btn-style-three {
  position: relative;
  line-height: 24px;
  color: var(--quertiaryColor);
  font-size: 15px;
  font-weight: 700;
  background: none;
  display: inline-block;
  padding: 11px 40px;
  text-transform: capitalize;
  border: 2px solid var(--quertiaryColor);
  font-family: "Ubuntu", sans-serif;
}
.sec-title {
  position: relative;
}
.sec-title .title {
  position: relative;
  color: var(--quertiaryColor);
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 7px;
  width: 40px;
  height: 1px;
}

@media (width < 1080px) {
  .about-section .content-column .inner-column {
    position: relative;
    padding-top: 10px;
  }

  .about-section .image-column .inner-column:after {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    left: 40px;
    bottom: 70px;
    padding-bottom: 300px;
    z-index: 0;
    border: 2px solid var(--quertiaryColor);
  }
}

@media (width < 768px) {
  .about-section {
    position: relative;
    padding: 2em 0px;
  }

  .about-section .image-column .inner-column::after {
    position: absolute;
    margin-left: 10vw;
    content: "";
    width: 70%;
    height: 100%;
    z-index: 0;
    border: 2px solid var(--quertiaryColor);
    padding-bottom: 65vw;
    opacity: 0.2;
  }

  .about-section .image-column .inner-column .image img {
    margin-left: 10vw;
    content: "";
    width: 85%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }

  .about-section {
    position: relative;
    margin-bottom: 4.5em;
  }

  .about-section .image-column {
    position: absolute;
    z-index: -1;
    right: 0.1em;
  }
  .about-section .image-column .inner-column .image {
    position: absolute;
    right: 5em;
  }

  .about-section .image-column .inner-column .image .overlay-box {
    position: absolute;
    margin-left: 20vw;
  }
}

@media (width < 568px) {
  .about-section .image-column .inner-column::after {
    position: absolute;
    margin-left: 10vw;
    content: "";
    width: 75%;
    height: 100%;
    z-index: 0;
    border: 2px solid var(--quertiaryColor);
    padding-bottom: 75vw;
    opacity: 0.2;
  }

  .about-section .image-column .inner-column .image img {
    margin-left: 3vw;
    content: "";
    width: 110%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }
}

@media (width <= 380px) {
  .about-section .image-column .inner-column .image img {
    margin-left: 5vw;
    content: "";
    width: 120%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }
}
