body {
  background-color: var(--primaryColor);
}

#anggota {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  display: flex;
  flex-direction: row;
}
h2:before,
h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h2:before {
  margin-right: 10px;
}
h2:after {
  margin-left: 10px;
}

.text-center {
  color: var(--quertiaryColor);
}

.our-team,
.our-team img,
.our-team .content {
  border-radius: 5px;
}

.our-team {
  text-align: center;
  position: relative;
  color: var(--quertiaryColor);
  font-weight: bold;
  box-shadow: 0px 0px 5px #000000;
}
.our-team img {
  width: 100%;
  height: 100%;
}
.our-team .content {
  background: rgba(81, 85, 126, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(90deg);
  transform-origin: center bottom 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.our-team:hover .content,
.our-team.active .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
  border-radius: 5px;
}
.our-team .content .title {
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}
.our-team .content .post {
  margin: 0 0 25px;
  display: block;
  font-size: 15px;
}
.our-team .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  font-size: 2em;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 10px;
  background-color: var(--quertiaryColor);
  color: var(--primaryColor);
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}

.our-team .social li a:hover,
.our-team.active .social li a:hover {
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--primaryColor);
  color: var(--quertiaryColor);
}

@media (width < 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 50%;
  }
}
