.text-center {
  color: var(--quertiaryColor);
}

h2 {
  display: flex;
  flex-direction: row;
}

h2:before,
h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h2:before {
  margin-right: 10px;
}

h2:after {
  margin-left: 10px;
}

.container-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3em 1em;
  height: 800px;
  transition: all 1000ms;
}

.container-grid:hover .box {
  filter: grayscale(100%) opacity(20%);
}

.box {
  background-size: cover;
  transition: all 1000ms;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #000000fa;
}

.container-grid .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container-grid:has(.box-1:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-2:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-6:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-7:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-8:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-9:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid:has(.box-10:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box::after {
  content: attr(data-text);
  text-align: center;
  position: absolute;
  bottom: 20px;
  background-color: #816797;
  color: #d6d5a8;
  outline: 2px solid var(--primaryColor);
  outline-offset: -0.3em;
  font-weight: bold;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

a.btn {
  position: relative;
  color: var(--quertiaryColor);
  background: var(--primaryColor);
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  padding: 0.5em 1em;
  text-transform: capitalize;
  border: 2px solid var(--quertiaryColor);
  font-family: "Ubuntu", sans-serif;
}

a.btn:hover {
  color: var(--primaryColor);
  background: var(--quertiaryColor);
  outline: 2px solid var(--primaryColor);
  outline-offset: -0.3em;
  border: 2px solid var(--quertiaryColor);
}

@media (width < 768px) {
  .container-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3em 1em;
    height: 1000px;
    transition: all 1000ms;
  }
  .container-grid:has(.box-1:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-2:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-3:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-4:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-5:hover) {
    grid-template-columns: auto auto auto;
  }
  .container-grid:has(.box-6:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-7:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-8:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-9:hover) {
    grid-template-columns: auto auto auto;
  }

  .container-grid:has(.box-10:hover) {
    grid-template-columns: auto auto auto;
  }
}
