#contact {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: var(--primaryColor);
}

span {
  font-family: "Ubuntu", sans-serif;
  background-color: transparent;
}

input::placeholder {
  font-family: "Ubuntu", sans-serif;
  color: var(--quertiaryColor);
}

input,
textarea {
  letter-spacing: 0.1em;
}

.contact-form {
  background-color: var(--secondaryColor);
}

.send-button {
  margin-top: 5px;
}

.send-text {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font: 700 1em "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

.alt-send-button {
  color: var(--primaryColor);
}

.contact {
  line-height: 4;
  color: var(--quertiaryColor);
}

.contact-text {
  letter-spacing: 1.9px;
  color: var(--quertiaryColor);
}

.contact-text a {
  color: var(--quertiaryColor);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  text-decoration: underline;
}

/* Begin Media Queries*/
@media (max-width: 1080px) {
  .col-md-6 {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-horizontal {
    margin: auto;
  }

  .direct-contact-container {
    margin-top: 60px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
