.send-button {
  margin-top: 15px;
  height: 34px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Location, Phone, Email Section */

.contact {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  letter-spacing: 1.9px;
  color: #bbb;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  text-decoration: underline;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-horizontal {
    margin: auto;
  }

  .direct-contact-container {
    margin-top: 60px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
