#ukm {
  font-family: "Ubuntu", sans-serif;
}

div.modal-content,
div.card-body {
  text-align: center;
  animation: scaleIn 0.5s ease-in-out;
  transform-origin: left;
  background-color: var(--secondaryColor);
  color: var(--fontColor);
  font-weight: 500;
}
.card {
  box-shadow: 0px 0px 5px #000000;
}

.card img {
  width: 100%;
}

.card-img-overlay {
  display: none;
  color: var(--fontColor);
  font-weight: bold;
}

.card:hover .card-img-overlay {
  display: block;
  background: rgba(81, 85, 126, 0.8);
  animation: slideIn 0.5s;
}

#click.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (width < 768px) {
  @keyframes scaleIn {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
